<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/main.css">
      <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
{% include head.html %}
</head>
<body>
{% include header.html %}


<div id="claim">
  <h2>cinema that matters</h2>
</div>


<section id="program">
<div class="column">
 <h2>BEZHLAVÍ</h2>
<p>Anti-intelektualismus dnes <br>
  Centrum současného umění DOX</p>

<p>Bezhlaví dnešní doby, manipulováni strachem, paralyzováni státními regulacemi, omezováni v samostatném kreativním projevu. Jak daleko dojedeme na pronajatém velbloudovi?</p>

<p>Anti-intelektualismus v ostrém kontrastu k politickému a morálnímu odkazu Václava Havla přes tři filmově-diskuzní eventy věnující se náladě české společnosti v kontextu dnešního světa.</p>


</div>
<div class="column">
{% for event in site.data.events %}
  <div class="event">
    
      <div class="date">{{ event.date }}</div>
      <h3>
      {% if  event.link %}
        <a href="{{ event.link }}">{{ event.title }}</a>
      {% else %}
        {{ event.title }}
      {% endif %}
      </h3>
      <h4>{{ event.subtitle }}</h4>
    
  </div>
{% endfor %}
</div>
</section>


<section id="contentaware">
  <h3>CONTENT—AWARE</h3>
  <img src="images/march.gif" alt="">

</section>
<section id="about">
  <div id="textcontent">
  {{ content }}

<p>Máte nápad, chcete se do projektu zapojit nebo se jen na něco zeptat? Napiště nám! <a href="mailto:info@kinolab.cz">info@kinolab.cz</a></p>

</div>

  <div id="maichimp">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="//kinolab.us14.list-manage.com/subscribe/post?u=bd56f5ec0490f3dc506066407&amp;id=768e97a71f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">Přihlašte se do našeho newsletteru!</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bd56f5ec0490f3dc506066407_768e97a71f" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Přihlásit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>
    <!--End mc_embed_signup-->
</div>
</section>
<!--   <div class="container">
    <h1><a href="./">{{ site.tag_text }}</a></h1>
    {{ content }}
  </div> -->
{% include scripts.html %}
</body>
</html>
